<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <p th:text="'Product added sucessfully!'" />
    <form th:action="@{/shoppingcart}" method="GET">
        <div class="form-actions">
            <button type="submit" class="btn">See shopping cart</button>
        </div>
    </form>
    <form th:action="@{/products/v2}" method="GET">
        <div class="form-actions">
            <button type="submit" class="btn">Continue shopping</button>
        </div>
    </form>
</body>

</html>