<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head>
    <style>
        thead {
            color: green;
        }
        
        tbody {
            color: blue;
        }
        
        table,
        th,
        td {
            border: 1px solid black;
        }
    </style>
</head>

<body>

    <h1>Shopping Cart</h1>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="orderDetail: ${orderDetailDtos}">
                <td>
                    <a th:href="@{http://localhost:8080/product/v2/(id=${orderDetail.productId},name=${orderDetail.productName})}" th:text="${orderDetail.productName}" />
                </td>
                <td th:text="${orderDetail.quantity}" />
            </tr>
        </tbody>
    </table>

    <form th:action="@{/proceed/v2}" method="GET">
        <div class="form-actions" th:if="${not #lists.isEmpty(orderDetailDtos)}">
            <button type="submit" class="btn">Proceed with order</button>
        </div>
    </form>
    <form th:action="@{/homepage}" method="GET">
        <div class="form-actions">
            <button type="submit" class="btn">Back to homepage</button>
        </div>
    </form>
</body>

</html>